{% load static %}

<div
  class="min-h-screen bg-gray-100 flex flex-col justify-center py-12 sm:px-6 lg:px-8"
>
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
      Check your email
    </h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      We’ve sent you an email with instructions to reset your password.
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <a
        href="{% url 'login' %}"
        class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      >
        Back to Login
      </a>
    </div>
  </div>
</div>

































{% comment %} {% extends 'constant/base.html' %}
{% load static %}

{% block content %}
    <div class="max-w-lg mx-auto mt-24 p-6 bg-white shadow-lg rounded-lg">
        <!-- Header -->
        <h1 class="text-3xl font-semibold text-green-500 mb-4">Password Reset Request Received</h1>

        <!-- Success Message -->
        <p class="text-lg text-gray-700 mb-4">
            We’ve emailed you instructions for resetting your password. If you don’t see the email within a few minutes, please check your spam or junk folder.
        </p>

        <!-- Call to Action -->
        <p class="text-lg text-gray-700">
            <a href="{% url 'login' %}" class="text-blue-500 hover:text-blue-700">Go back to login</a>
        </p>
    </div>
{% endblock %} {% endcomment %}


