{% extends 'constant/base.html' %}
{% load static %}
{% block title %} Sign up {% endblock %}
{% block content %}
<div class="display:flex; flex-direction:colomn; justify-content:center; width:50%; margin:auto;">
   <form action="" method="post">
      
     {% csrf_token %}
      <h2 class="text-3xl">Register as a New User!</h2>
      <div class="">{{form.as_p}}</div>
      <p class="mb-3">Already have an account? Login----  <a href="{% url 'login' %}"><span class="text-red-600 underline uppercase">Here</span></a></p>
      <button type="submit" style="width:50%;">Sign Up</button>
   </form>
</div>
{% endblock %}



